@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

.category-para {
  margin-bottom: 2px;
}

.category-item {
  color: grey;
  padding-right: 5px;
  font-size: 0.9rem;
}
